
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 238, 238);
    font-family: "Roboto", sans-serif;
}

.post {
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    background-color: white;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon {
    font-size: 2em;
    margin: 0 13px;
}

.text {
    font-size: 0.7em;
    margin: 0;
    flex-grow: 1;
}

.text p {
    margin: 0;
}

.text p + p {
    margin-top: 2px;
}

.menu {
    margin: 0 13px;
    font-size: 1.8em;
}

.post-img img {
    width: 100%;
    height: auto;
    display: block;

.post-body {
    padding: 9px;
}

.post-body .icons {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.save {
    margin-left: auto;
}

.like {
    margin-right: 8px;
}

.comment {
    margin-right: 8px;
}

